.clearfix:before,.clearfix:after{
	content:" ";
	display:table
}

.clearfix:after{
	clear:both
}

.clearfix{
	*zoom:1
}

#desktop-container,#mobile-container{
	display:none
}

#mobile-container{
	padding:0 5px
}

.pull-right{
	float:right
}

.hidden{
	display:none !important
}

.text-center{
	text-align:center
}

#ceiling_banner{
	font:20px 'Open Sans', tahoma,sans-serif,verdana,helvetica,arial;
	background-color:#3F9BD0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1000;
	padding:12px 0
}

@media (max-width: 568px) and (orientation: landscape){
	#ceiling_banner{
		position:static
	}

}

@media (max-width: 568px) and (orientation: landscape){
	body{
		margin-top:0 !important
	}

}

#ceiling_banner .container_760{
	max-width:760px;
	margin:0 auto
}

#ceiling_banner #mark_logo{
	display:none
}

@media (min-width: 768px){
	#ceiling_banner #mark_logo{
		display:inline-block;
		float:left
	}

}

#ceiling_banner .banner-text{
	color:#fff;
	font-size:16px;
	display:block;
	text-align:center;
	margin-bottom:10px
}

@media (min-width: 768px){
	#ceiling_banner .banner-text{
		display:inline
	}

}

@media (min-width: 768px){
	#ceiling_banner .banner-content{
		float:right
	}

}

#ceiling_banner .buttons{
	text-align:center
}

@media (min-width: 768px){
	#ceiling_banner .buttons{
		display:inline;
		text-align:left
	}

}

#ceiling_banner .buttons .button{
	display:inline-block
}

@media (min-width: 768px){
	#ceiling_banner .buttons .button{
		margin-left:10px
	}

}

#ceiling_banner .button.green{
	background:#3BB300;
	border:1px solid #359e00;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	box-shadow:none;
	padding:4px 20px;
	text-shadow:none;
	font-size:16px;
	font-weight:300;
	font-family:'Open Sans', tahoma,verdana,helvetica,arial,sans-serif
}

#ceiling_banner .button.green:hover{
	background:#36a400
}

#ceiling_banner a.inquiry_link{
	color:#fff
}

.privacy_link{
	margin:0 auto;
	text-align:center
}

.privacy_link a{
	text-decoration:underline;
	font-size:11px
}

body.color-scheme-generic{
	background:#fff;
	color:#000
}

body.color-scheme-generic .title1{
	background:#6987bc;
	color:#fff
}

body.color-scheme-generic a.domain{
	color:#fff
}

body.color-scheme-generic table#main.withbgcolor,body.color-scheme-generic .title2,body.color-scheme-generic .sidebar,body.color-scheme-generic .footer1{
	background:#d8dfee
}

body.color-scheme-generic .directoryheaderrow{
	background-color:#F0F4F7;
	color:#7f7f7f
}

body.color-scheme-generic .directorybox{
	background:linear-gradient(#f0f4f7, #fff)
}

body.color-scheme-generic td.copyright{
	background:#fff
}

body.color-scheme-generic td.copyright,body.color-scheme-generic td.copyright a{
	color:#e9e9e9
}

body.color-scheme-generic .highlighted{
	color:#ff0000
}

body.color-scheme-business{
	background:#efefef;
	color:#000
}

body.color-scheme-business .title1{
	background:#5c5c5c;
	color:#fff
}

body.color-scheme-business a.domain{
	color:#fff
}

body.color-scheme-business table#main.withbgcolor,body.color-scheme-business .title2,body.color-scheme-business .sidebar,body.color-scheme-business .footer1{
	background:#e4e4e4
}

body.color-scheme-business .directoryheaderrow{
	background-color:#F0F4F7;
	color:#7f7f7f
}

body.color-scheme-business .directorybox{
	background:linear-gradient(#f0f4f7, #fff)
}

body.color-scheme-business td.copyright{
	background:#fff
}

body.color-scheme-business td.copyright,body.color-scheme-business td.copyright a{
	color:#d8d5d5
}

body.color-scheme-business .highlighted{
	color:#ff0000
}

body{
	margin:0;
	padding:0;
	font:11px tahoma, helvetica, arial, verdana, sans-serif
}

.clear{
	clear:both
}

#container{
	width:760px;
	margin:0 auto
}

.domain-heading{
	text-align:center
}

.domain-heading a{
	font:24px tahoma, helvetica, arial;
	text-decoration:none
}

#mobile-container .narrow_search_box_block{
	margin:0 12px 12px
}

img.small{
	width:240;
	height:100;
	border:0
}

a.domain{
	text-decoration:none
}

.button{
	padding:5px 10px;
	display:inline;
	border:none;
	color:#fff;
	cursor:pointer;
	font-weight:600;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-shadow:1px 1px #666;
	text-decoration:none
}

.button:active{
	background-position:0 top;
	position:relative;
	top:1px;
	padding:6px 10px 4px
}

td.copyright a{
	text-decoration:none
}

td.copyright a:hover{
	text-decoration:underline
}

table{
	border-spacing:0px;
	border:0
}

table#main,table.full-width{
	width:760px
}

table.full-width-98{
	width:98%
}

table#searchbox-container{
	width:750px
}

td{
	padding:0px
}

td.left-col{
	width:240px
}

td.right-col{
	width:520px
}

.vertical-spacer-100{
	width:1px;
	height:100px;
	border:0
}

.vertical-spacer-10{
	width:1px;
	height:10px;
	border:0
}

.title1{
	font-size:24px;
	text-align:left;
	padding:12px
}

.title2{
	font-size:12px;
	font-weight:800;
	padding:6px;
	text-align:left
}

td.results{
	padding:10px;
	vertical-align:top;
	text-align:left
}

.footer1{
	font-size:12px;
	padding:0;
	text-align:left
}

td.copyright{
	font:10px verdana, helvetica, arial, sans-serif;
	text-align:right
}

.results{
	margin-bottom:16px
}

.wide_search_box_block{
	margin:0 12px 12px
}

#relKW3ColBlock{
	margin:12px
}

.related_keywords_block_1,.related_keywords_block_2,.related_keywords_block_3{
	padding:3px 8px
}

.directoryheaderrow{
	margin:0 3px;
	padding:0 12px;
	font-size:12px;
	font-weight:800;
	overflow:none
}

.directoryheader{
	padding:5px 0 0;
	width:33.5%;
	float:left;
	display:block
}

.directoryheader.last{
	float:none;
	width:auto
}

.directoryboxrow{
	padding:0 3px;
	text-align:center
}

input{
	font:11px tahoma, helvetica, arial, verdana, sans-serif
}

.highlighted{
	font-weight:600
}
