
/*
 * from a project by alkaid
 *
 * *::-moz-selection{
 *     background-color:#D9444A;
 *     background: none repeat scroll 0% 0% #3B8DBD;
 *     color: #FFF;
 *     }
 */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

nav {

}


body {
    font-family: Arial,sans-serif;
}
body {
    font-family: Arial,sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.5em;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: 600;
    word-wrap: break-word;
}

#wrapper, .container-inner {
    min-width: 320px;
}
#wrapper {
    min-width: 1024px;
    height: 100%;
}


.container {
    padding: 0px 20px;
}


#page {
    padding-bottom: 60px;
    margin-top: -60px;
}


#page .container-inner{

    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px -1px 0px #FFF, 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#wrapper, .container-inner {
    min-width: 320px;
}


.container-inner { max-width: 1380px; min-width: 1380px; width: 100%; margin: 0 auto; }


.col-3cm .main {
    background: url("img/sidebar/s-right-s2.png") repeat-y scroll right 0px transparent;
}
.main {
    background-color: #FFF !important;
    position: relative;
}


.col-3cm .main-inner {
    background: url("img/sidebar/s-left.png") repeat-y scroll left 0px transparent;
    padding-left: 140px;
    padding-right: 260px;
}
.main-inner {
    position: relative;
    min-height: 600px;
}
.group {
}


.col-3cm .content {
    float: right;
}
.content {
    width: 100%;
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}



.page-title {
    background: none repeat scroll 0% 0% #FFF;
    position: relative;
    padding-top: 18px;
    padding-bottom: 17px;
    border-bottom: 1px solid #EEE;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
}
.pad {
    padding: 30px 30px 20px;
}
.page-title h1, .page-title h2, .page-title h4 {
    color:  black;/*#666;*/
    padding:10px;
    margin:20px;
    background-color: orange;
    
}


.page-title i {
    margin-right: 8px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.fa {
    width: 1em;
    text-align: center;
}

.page-title span {
    color: #AAA;
}

.post-list {
    margin-right: -30px;
}

.post-list .post-row {
    margin-left: -30px;
    padding-left: 30px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #EEE;
    margin-bottom: 30px;
    position: relative;
}

.post-list .post, .post-list .page {
    width: 50%;
    float: left;
}
.blog .post, .single .post, .archive .post, .search .post, .search .page {
    margin-bottom: 40px;
}
.content .post, .content .page {
    position: relative;
    overflow: hidden;
}
.post-list .post-inner {
    margin-right: 30px;
}
.post-thumbnail {
    position: relative;
    margin-bottom: 1em;
}
.post-thumbnail {
    width: 100%;
    transition: all 1s ease 0s;
}


a, .themeform label .required, #flexslider-featured .flex-direction-nav .flex-next:hover, #flexslider-featured .flex-direction-nav .flex-prev:hover, .post-hover:hover .post-title a, .post-title a:hover, .s1 .post-nav li a:hover i, .content .post-nav li a:hover i, .post-related a:hover, .s1 .widget_rss ul li a, #footer .widget_rss ul li a, .s1 .widget_calendar a, #footer .widget_calendar a, .s1 .alx-tab .tab-item-category a, .s1 .alx-posts .post-item-category a, .s1 .alx-tab li:hover .tab-item-title a, .s1 .alx-tab li:hover .tab-item-comment a, .s1 .alx-posts li:hover .post-item-title a, #footer .alx-tab .tab-item-category a, #footer .alx-posts .post-item-category a, #footer .alx-tab li:hover .tab-item-title a, #footer .alx-tab li:hover .tab-item-comment a, #footer .alx-posts li:hover .post-item-title a, .comment-tabs li.active a, .comment-awaiting-moderation, .child-menu a:hover, .child-menu .current_page_item > a, .wp-pagenavi a {
    color: #D9444A;
}
a, a:before, a:after {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
a {
    color: #3B8DBD;
    text-decoration: none;
    outline: 0px none;
}

.post-thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}
a img {
    transition: opacity 0.2s ease 0s;
}
img {
    max-width: 100%;
    height: auto;
}

.thumb-icon {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-align: center;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 6px;
    transition: all 0.7s ease 0s;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    transform: rotate(45deg);
}

.thumb-icon .fa-play {
    margin: -1px 0px 0px 2px;
}
.thumb-icon i {
    font-size: 18px;
    padding: 7px 0px;
    transform: rotate(-45deg);
}

.s2 .sidebar-top, .s2 .sidebar-toggle, .post-comments, .jp-play-bar, .jp-volume-bar-value, .s2 .widget_calendar caption {
    background-color: #96C0B7;
}
.post-comments {
    background: none repeat scroll 0% 0% #82B965;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2) inset;
}


.post-comments > span {
    display: block;
    position: relative;
    padding: 2px 7px;
}

.post-comments i {
    margin-right: 3px;
}

.post-meta {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #BBB;
    margin-bottom: 0.3em;
}

.post-meta {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #BBB;
    margin-bottom: 0.3em;
}


.post-meta .post-date {
    float: left;
}

.post-title {
    color: black;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5em;
    word-wrap: break-word;
}

.post-title a {
    color: #444;
}


.entry.excerpt {
    font-size: 16px;
    color: #525252;
}
.entry {
    line-height: 1.6em;
}

.entry.excerpt p {
    margin-bottom: 0px;
}
.entry p, .entry dd {
    margin-bottom: 1em;
}


/* 标定页数*/
.wp-pagenavi {
    font-size: 12px !important;
}
.wp-pagenavi {
    padding: 10px 20px !important;
    display: block !important;
    clear: both !important;
}
.wp-pagenavi {
    font-weight: 600;
    line-height: 20px;
    float: none;
    margin-right: -2px;
    text-align: center;
}
.wp-pagenavi {
    margin-left: auto !important;
    margin-right: auto;
}


.wp-pagenavi a, .wp-pagenavi span.pages, .wp-pagenavi span.extend {
    color: #707070 !important;
    background: none repeat scroll 0% 0% #FFF !important;
    border-radius: 3px !important;
    border: 1px solid #DCDCDC !important;
    padding: 6px 9px !important;
    margin-right: 3px !important;
    text-decoration: none !important;
    font-size: 12px !important;
}
.wp-pagenavi span.pages {
    font-size: 17px;
    font-weight: 300;
    display: block;
    margin-bottom: 1em !important;
    border: medium none !important;
}

.s1 .alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a, .comment-tabs li.active a, .wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current {
    border-bottom-color: #D9444A !important;
}
.wp-pagenavi span.current {
    padding: 6px 9px !important;
    border: 1px solid #AD2D2D !important;
    border-radius: 3px !important;
    color: #FFF !important;
    margin-right: 3px !important;
    text-shadow: 0px 1px #B72E2E !important;
    background: -moz-linear-gradient(center top , #FF9B9B 1px, #FE5555 1px, #E43838) repeat scroll 0% 0% transparent !important;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current {
    background: none repeat scroll 0% 0% transparent;
    border-right: medium none;
    border-left: medium none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px medium 3px;
    border-style: solid none;
    border-color: #F1F1F1 -moz-use-text-color #3B8DBD;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current {
    color: #444;
}

.content .post, .content .page {
    position: relative;
    overflow: hidden;
}
a, a:before, a:after {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}


.wp-pagenavi span.extend {
    border: medium none !important;
}





























.col-3cm .s1 {
    float: left;
    margin-left: -40px;
}
.s1 {
    width: 340px;
    z-index: 2;
}
.sidebar {
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
}


.themeform input[type="submit"], .themeform button[type="submit"], .s1 .sidebar-top, .s1 .sidebar-toggle, #flexslider-featured .flex-control-nav li a.flex-active, .post-tags a:hover, .s1 .widget_calendar caption, #footer .widget_calendar caption, .author-bio .bio-avatar:after, .commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .comment-body:after {
    background-color: #D9444A;
}


.s1 .sidebar-top, .s1 .sidebar-toggle {
    background: none repeat scroll 0% 0% #3B8DBD;
}
.sidebar-toggle i {
    font-size: 38px;
    color: #FFF;
    padding: 5px 0px;
}

.themeform input[type="submit"], .themeform button[type="submit"], .s1 .sidebar-top, .s1 .sidebar-toggle, #flexslider-featured .flex-control-nav li a.flex-active, .post-tags a:hover, .s1 .widget_calendar caption, #footer .widget_calendar caption, .author-bio .bio-avatar:after, .commentlist li.bypostauthor > .comment-body:after, .commentlist li.comment-author-admin > .comment-body:after {
    background-color: #D9444A;
}
.s1 .sidebar-top, .s1 .sidebar-toggle {
    background: none repeat scroll 0% 0% #3B8DBD;
}
.sidebar-top {
    padding: 15px 30px;
}

.sidebar-top p {
    float: left;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    padding: 3px 0px;
}

.social-links {
    float: right;
    position: relative;
    padding-top: 2px;
}
ol, ul {
    list-style: outside none none;
}


.social-links li {
    display: inline-block;
    margin-left: 8px;
    line-height: 16px;
    font-size: 0px;
}


.social-links .social-tooltip {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    display: inline;
    position: relative;
    z-index: 98;
}
.social-links li a {
    display: block !important;
    position: relative;
    text-align: center;
}


.widget > h3 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
}

div.jqcloud {
    overflow: hidden;
    position: relative;
}
div.jqcloud {
    color: #98DB18;
}
.jqcloud {
    font-family: "Microsoft JhengHei",sans-serif !important;
    font-size: 12px;
    line-height: normal;
}


.widget {
    color: #777;
    font-size: 15px;
    overflow: hidden;
}

.alx-tabs-nav {
    border-bottom: 3px solid #DDD;
    margin-bottom: 10px;
    text-align: center;
}

.alx-tabs-nav.tab-count-3 li {
    width: 33.333%;
}
.alx-tabs-nav li {
    display: block;
    float: left;
}

.s1 .alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a, .comment-tabs li.active a, .wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current {
    border-bottom-color: #D9444A !important;
}
.s1 .alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a {
    border-bottom-color: #3B8DBD;
}
.alx-tabs-nav li.active a, #footer .alx-tabs-nav li.active a {
    color: #444;
}
.alx-tabs-nav li a {
    font-size: 18px;
    display: block;
    padding: 8px 0px;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}
.alx-tab a, .alx-posts a {
    transition: all 0.2s ease 0s;
}

.alx-tab.thumbs-enabled li {
    padding-left: 94px;
}
.alx-tab li, .alx-posts li {
    font-weight: 400;
    line-height: 1.4em;
    overflow: hidden;
}


.alx-tab .tab-item-thumbnail, .alx-posts .post-item-thumbnail {
    position: relative;
    transition: all 1s ease 0s;
}
.alx-tab .tab-item-thumbnail {
    width: 80px;
    margin-left: -94px;
    float: left;
}

.alx-tab a, .alx-posts a {
    transition: all 0.2s ease 0s;
}
.widget a {
    color: #777;
}

.alx-tab img, .alx-posts img {
    display: block;
    width: 100%;
    height: auto;
}
a img {
    transition: opacity 0.2s ease 0s;
}

.alx-tab .tab-item-category, .alx-posts .post-item-category {
    color: #AAA;
    text-transform: uppercase;
    font-size: 13px;
}

.s1 .alx-tab .tab-item-category a, .s1 .alx-posts .post-item-category a, .s1 .alx-tab li:hover .tab-item-title a, .s1 .alx-tab li:hover .tab-item-comment a, .s1 .alx-posts li:hover .post-item-title a, #footer .alx-tab .tab-item-category a, #footer .alx-posts .post-item-category a, #footer .alx-tab li:hover .tab-item-title a, #footer .alx-tab li:hover .tab-item-comment a, #footer .alx-posts li:hover .post-item-title a {
    color: #3B8DBD;
}

.alx-tab .tab-item-title, .alx-tab .tab-item-comment, .alx-posts .post-item-title {
    margin: 2px 0px;
    word-wrap: break-word;
}

.alx-tab .tab-item-title a, .alx-tab .tab-item-comment a, .alx-posts .post-item-title a {
    color: #444;
}

.alx-tab .tab-item-date, .alx-tab .tab-item-name, .alx-posts .post-item-date {
    text-transform: uppercase;
    color: #AAA;
    font-size: 13px;
}



.widget_search > h3, .widget_text > h3, .widget_tag_cloud > h3, .widget_calendar > h3 {
    margin-bottom: 1em;
}
.widget > h3 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
}



.s2 .sidebar-top, .s2 .sidebar-toggle, .post-comments, .jp-play-bar, .jp-volume-bar-value, .s2 .widget_calendar caption {
    background-color: #96C0B7;
}

.s2 .sidebar-top, .s2 .sidebar-toggle {
    background: none repeat scroll 0% 0% #82B965;
}

.sidebar-toggle i {
    font-size: 38px;
    color: #FFF;
    padding: 5px 0px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.fa {
    width: 1em;
    text-align: center;
}


