#ceiling_banner {
    font: 20px "Open Sans",tahoma,sans-serif,verdana,helvetica,arial;
    background-color: #3F9BD0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 12px 0px;
}


#ceiling_banner .container_760 {
    max-width: 760px;
    margin: 0px auto;
}

#ceiling_banner .banner-title {
    color: #FFF;
    font-size: 16px;
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}


#ceiling_banner .banner-content {
    float: right;
}


#ceiling_banner .button.green {
    background: none repeat scroll 0% 0% #3BB300;
    border: 1px solid #359E00;
    border-radius: 3px;
    box-shadow: none;
    padding: 4px 20px;
    text-shadow: none;
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans",tahoma,verdana,helvetica,arial,sans-serif;
}
#ceiling_banner .buttons .button {
    margin-left: 10px;
}
#ceiling_banner .buttons .button {
    display: inline-block;
}
.button {
    padding: 5px 10px;
    display: inline;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    text-shadow: 1px 1px #666;
    text-decoration: none;
}
#ceiling_banner .buttons {
    text-align: left;
}
#ceiling_banner .buttons {
    text-align: center;
}


#desktop-container,#mobile-container{
	#display:none;
	width: 760px;
    margin: 0px auto;
	position: float;
}


